#Menu {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 4.0em;
    color: white;
    font-family: "Segoe UI";
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#Editor {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 4.0em;
    color: white;
    font-family: "Segoe UI";
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

#Title{
    position: absolute;
    width: 100%;
    top: 30%;
    margin-top: -70px;
    cursor: default;
}

#EdTitle{
    position: absolute;
    width: 100%;
    top: 10%;
    margin-top: -70px;
    cursor: default;
}

.hidden {
    display: none;
}

#Ret{
    position: absolute;
    width: 100%;
    top: 50%;
}

#gameOverText,#scoreText{
	position: absolute;
	top:30%;
}


#Buttons{
    position: absolute;
    width: 100%;
    top: 40%;
    margin-top: -10px;
    cursor: default;
}

#Button {
	outline: none;
	cursor: pointer;
	text-aling: center;
	text-decoration: none;
	color: #fff;
	padding: 20px 40px;
	border: solid 1px #0000a3;
   	background-color: rgba(0, 0, 0, 0.3);
}

#Button:hover { 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -webkit-linear-gradient(top,  #0078a5,  #00adee);
	background: -moz-linear-gradient(top,  #0078a5,  #00adee); 
	background: -ms-linear-gradient(top,  #0078a5,  #00adee); 
	background: -o-linear-gradient(top,  #0078a5,  #00adee); 
	background: linear-gradient(top,  #0078a5,  #00adee);
}

#Button:active {  
	position: relative;  
	top: 1px;
}